<?xml version='1.0' encoding='utf-8'?>
<widget id="com.steedos.chat" version="1.5.0" versionCode="150" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Chat</name>
    <description>
        Private group chat and IM, built for business and team collaboration. 
    </description>
    <author email="zhuangjianguo@hotlong.com" href="http://chat.steedos.com">
        HotLong Software
    </author>
    <!--
    <content src="http://192.168.0.187:4020/steedos/?phonegap=1" />
    -->
    <content src="system/steedos/current/en-us/index.html?phonegap=1&amp;apps=chat#chat" />

    <preference name="AllowInlineMediaPlayback" value="false" />
    <preference name="BackupWebStorage" value="cloud" />
    <preference name="DisallowOverscroll" value="false" />
    <preference name="EnableViewportScale" value="false" />
    <preference name="KeyboardDisplayRequiresUserAction" value="true" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="SuppressesIncrementalRendering" value="false" />
    <preference name="TopActivityIndicator" value="gray" />
    <preference name="GapBetweenPages" value="0" />
    <preference name="PageLength" value="0" />
    <preference name="PaginationBreakingMode" value="page" />
    <preference name="PaginationMode" value="unpaginated" />
    <preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" />

    <feature name="http://api.phonegap.com/1.0/device" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />


    <!-- 初始化状态栏黑色 -->
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    
    <!-- 屏幕图片关键字 -->
    <preference name="SplashScreen" value="screen" />
    <!-- 屏幕图片延时时间 -->
    <preference name="SplashScreenDelay" value="10000" />

    <preference name="loadUrlTimeoutValue" value="120000" />

    <access origin="*" />


</widget>
